<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:macro name="joint_ros2_control" params="name id">
       
    <joint name="${name}">
       <param name="id">${id}</param>
        <command_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
 
</xacro:macro>


</robot>